.app {
  display: grid;
  grid-template-columns: 50px 500px;
  grid-template-rows: auto;
  grid-template-areas:
      "header header"
      "sidebar main"
      "footer footer";

  header {
    grid-area: header;
  }

  aside {
    grid-area: sidebar;
  }

  main {
    grid-area: main;
  }

  footer {
    grid-area: footer;
  }
}
